/* RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.speakerview, .arrows, .placeholder{
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

/* /RULES */

/* Header */

header{
    color: white;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 10px;
    gap: 10px;
}

.speakerview, .arrows{
    padding: 2px;
    border-radius: 5px;
}

/* /Header */

/* Body */

body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: black;
    color: white;
}


.megacontainer{
    display: flex;
    margin: 0 auto;
    gap: 20px 10px;
    flex-wrap: wrap;
    padding: 20px 90px;
}

.box{
    width: calc((100% - 60px) / 7);
    position: relative;
}

img{
    width: 100%;
    display: block;
}

.placeholder{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 5px;
}